.badge-primary {
    --tw-bg-opacity: 1;
    background-color: rgba(86, 11, 173, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: white
}

.badge-info {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 150, 199, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: white
}

.badge-success {
    --tw-bg-opacity: 1;
    background-color: rgba(82, 183, 136, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: white
}

.badge-warning {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 199, 89, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: white
}

.badge-delete {
    --tw-bg-opacity: 1;
    background-color: rgba(230, 57, 70, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: white
}

.bg-green-800 {
    --tw-bg-opacity: 1;
background-color: rgba(6, 95, 70, var(--tw-bg-opacity));
}




